name: rspec
on: push
jobs:
  rspec:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8
        ports:
          - 3306:3306
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
        options: >-
          --health-cmd "mysqladmin ping"
          --health-interval 5s
          --health-timeout 3s
    strategy:
      fail-fast: true
      matrix:
        ruby: ["3.2", "3.3", "3.4", "4.0"]
        rails: ["7.2", "8.0", "8.1"]
    env:
      BUNDLE_GEMFILE: .github/gemfiles/rails_${{ matrix.rails }}.gemfile
      MYSQL_HOST: 127.0.0.1
      RAILS_ENV: test
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Install rake
        run: gem install rake
      - name: Setup database
        run: bundle exec rake db:prepare
      - name: run rspec
        run: bundle exec rspec
